name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip openjdk-17-jdk
          pip3 install buildozer cython

      - name: Build with Buildozer
        run: |
          buildozer android debug

      - uses: actions/upload-artifact@v4
        with:
          name: APK
          path: bin/*.apk
